<!-- website/base.html -->
{% load static %}

<!DOCTYPE html>
<html lang="en" data-bs-theme="light">

    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />


        <!-- SEO Meta Tags -->
            {% if page.meta_title %}
            <title>{% block page_title %}{% endblock page_title %}</title>
            {% endif %}

            {% if page.meta_description %}
            <meta name="description" content="{{ page.meta_description }}" />
            {% endif %}

            {% if page.meta_keywords %}
            <meta name="keywords" content="{{ page.meta_keywords }}" />
            {% endif %}

            {% if page.meta_author %}
            <meta name="author" content="{{ page.meta_author }}" />
            {% endif %}

            {% if page.canonical_url %}
            <link rel="canonical" href="{{ page.canonical_url }}" />
            {% endif %}

            {% if page.meta_robots %}
            <meta name="robots" content="{{page.meta_robots}}" />
            {% endif %}
        <!-- End SEO Meta Tags -->


        <!-- Google Tag Manager -->
            {% if gtm_tag %}
            <script>(function (w, d, s, l, i) {
                    w[l] = w[l] || []; w[l].push({
                        'gtm.start':
                            new Date().getTime(), event: 'gtm.js'
                    }); var f = d.getElementsByTagName(s)[0],
                        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                            'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
                })(window, document, 'script', 'dataLayer', '{{ gtm_tag }}');</script>
            {% endif %}
        <!-- End Google Tag Manager -->


        <!-- Libs CSS -->
        <link rel="stylesheet" href="{% static 'website/fonts/feather/feather.css' %}" media="print" onload="this.media='all'" />


        <!-- Extra CSS -->
        {% block extra_css %}{% endblock extra_css %}

        <!-- Theme + Custom CSS / load last -->
        <link rel="stylesheet" href="{% static 'website/css/theme.min.css' %}" />
        <link rel="stylesheet" href="{% static 'website/css/custom.min.css' %}">


        <!-- Favicon icon -->
        <link rel="shortcut icon" type="image/x-icon" href="{% static 'website/images/favicon/favicon-serp_everything.ico' %}" />


        <!-- Render blocking JS -->
        <script>if (localStorage.theme) document.documentElement.setAttribute("data-theme", localStorage.theme);</script>
        <script src="{% static 'website/js/auth.js' %}"></script>

        <!-- Head JS -->
        {% block head_scripts %}{% endblock head_scripts %}
    </head>



    <body>
        <!-- Google Tag Manager -->
            {% if gtm_tag %}<noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ gtm_tag }}" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>{% endif %}
        <!-- End Google Tag Manager -->

        <main>

            <!-- NAVBAR -->
                {% include 'website/partials/navbar.html' %}
            <!-- END NAVBAR -->

            <!-- SUB NAVBAR -->
                {% comment %} {% block subnav %} {% endblock subnav %} {% endcomment %}
            <!-- END SUB NAVBAR -->

            <!-- BREADCRUMBS -->
                {% include 'website/partials/breadcrumbs.html' %}
            <!-- END BREADCRUMBS -->

            <!-- MAIN CONTENT -->
            {% block content %} {% endblock content %}

        </main>

        <!-- FOOTER -->
            {% include 'website/partials/footer.html' %}
        <!-- END FOOTER -->


        <!-- Libs & Vendor JS -->
            <script src="{% static 'website/libs/jquery/dist/jquery.min.js' %}"></script> <!-- dependency -->
            <script src="{% static 'website/libs/@popperjs/website/dist/umd/popper.min.js' %}"></script> <!-- dependency: bootstrap -->
            <script src="{% static 'website/libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script> <!-- dependency: jQuery, Popper.js -->
            <script src="{% static 'website/libs/bootstrap-select/dist/js/bootstrap-select.min.js' %}"></script> <!-- dependency: jQuery, Bootstrap -->
        <!-- End Libs & Vendor JS -->


        <!-- Theme JS -->
            <script src="{% static 'website/js/theme.min.js' %}"></script>
        <!-- End Theme JS -->


        <!-- Pagelevel JS -->
            {% autoescape off %}
            {% block body_scripts %}
            {% endblock body_scripts %}
            {% endautoescape %}
        <!-- End Pagelevel JS -->

    </body>

</html>