<section id="_breadcrumbs">
  {% if homepage %}
  <div style="display: none;">
{% else %}
  <div class="border-bottom">
{% endif %}
      <div class="container my-2">
        <div class="row">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              {% for breadcrumb in breadcrumbs %}
                <li class="breadcrumb-item {% if not breadcrumb.url %}active{% endif %}" {% if not breadcrumb.url %}aria-current="page"{% endif %}>
                  {% if breadcrumb.url %}
                    <a href="{{ breadcrumb.url }}">{{ breadcrumb.name }}</a>
                  {% else %}
                    {{ breadcrumb.name }}
                  {% endif %}
                </li>
              {% endfor %}
            </ol>
          </nav>
        </div>
      </div>
    </div>
</section>
