<div class="col-md-6 col-12 text-center text-md-start">
  <div class="btn-group dropup">
    <button type="button" class="btn btn-sm" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">© SERP</button>
    <div class="dropdown-menu">
      <span class="dropdown-item text-muted">SERP BRANDS</span>
      <a class="dropdown-item" href="https://serp.everything" target="_blank">SERP</a>
      <a class="dropdown-item" href="https://serp.ai" target="_blank">SERP AI</a>
      <a class="dropdown-item" href="https://serp.fm" target="_blank">SERP FM</a>
      <a class="dropdown-item" href="https://serp.app" target="_blank/">SERP App</a>
      <a class="dropdown-item" href="https://serp.games" target="_blank/">SERP Games</a>
      <a class="dropdown-item" href="https://serp.wiki" target="_blank/">SERP Wiki</a>
      <a class="dropdown-item" href="https://serp.dev" target="_blank">SERP Dev</a>
      <a class="dropdown-item" href="https://serp.style" target="_blank/">SERP Style</a>
      <a class="dropdown-item" href="https://serp.site" target="_blank">SERP Site</a>
      <a class="dropdown-item" href="https://serp.media" target="_blank">SERP Media</a>
      <a class="dropdown-item" href="https://serpuniversity.com" target="_blank">SERP University</a>
      <div class="dropdown-divider"></div>
      <span class="dropdown-item text-muted">PARTNER BRANDS</span>
      <a class="dropdown-item" href="https://daft.fm" target="_blank">DAFT FM</a>
      <a class="dropdown-item" href="https://boxingundefeated.com" target="_blank">Boxing Undefeated</a>
      <a class="dropdown-item" href="https://devinschumacher.com" target="_blank">Devin Schumacher</a>
      <a class="dropdown-item" href="https://universityofguns.com" target="_blank">University of Guns</a>
      <a class="dropdown-item" href="https://www.petsmarketplc.com" target="_blank">Pets Marketplace</a>
      <a class="dropdown-item" href="https://merchantalternatives.com" target="_blank">Merchant Alternatives</a>
    </div>
  </div>
</div>