/* custom.css */


html {
    font-size: 1rem !important;
}

:root {
    --geeks-body-font-size: 1rem;
    --geeks-primary: #2251ff;

}

#blogArticle img {
    max-width: 100%;
    height: auto;

}

.breadcrumb {
    font-size: 12px !important;

}

.breadcrumb-item+.breadcrumb-item:before {
    float: none;
}


p {
    font-size: 1rem !important;
}

/* #_blogSingle h1 {
    font-size: 2.5em !important;
    margin-top: 1.5em !important;
}

#_blogSingle h2 {
    font-size: 2.2em !important;
    margin-top: 1.4em !important;
}

#_blogSingle h3 {
    font-size: 1.9em !important;
    margin-top: 1.3em !important;
}

#_blogSingle h4 {
    font-size: 1.6em !important;
    margin-top: 1.2em !important;
}

#_blogSingle h5 {
    font-size: 1.3em !important;
    margin-top: 1.1em !important;
}

#_blogSingle h6 {
    font-size: 1em;
    margin-top: 1em;

} */

#_blogSingle p {
    font-size: 1em;
    margin-top: 1em;

}

#_blogSingle ul,
#_blogSingle ol {
    margin-top: 1em;

}

#_blogSingle li {
    margin-top: 0.5em !important;

}

#_blogSingle img {
    margin-top: 1em;

}