{% extends 'website/base.html' %}
{% load static %}

{% block page_title %}
About SERP App
{% endblock %}

{% block content %}
  <section class="_about">
    <div class="container my-10">
      <div class="col-8 align-items-center">
        <h1>About</h1>

        <p>SERP App is your trusted marketplace for engaging in buying and selling of digital assets.</p>
<p>Here, you have the freedom to list your digital products, control your pricing, terms, and strategies.</p>
<p>Immerse yourself in a community excited about the latest mobile apps, websites, hardware developments, and technological innovations.</p>
<h2>Discover and Buy with Confidence</h2>
<p>Enjoy substantial savings on essential tools that empower your business, covering areas from Marketing to Productivity to SEO. Coffee brewing is a skill you'll have to acquire independently.</p>
<h2>Sell with Assurance</h2>
<p>Whether your digital assets include software, online courses, or ebooks, we provide the platform to launch them, gaining valuable exposure and constructive feedback.</p>
<h2>Demystifying Software Selection</h2>
<p>Searching for the right software for your business can often be a challenging task. SERP App is here to simplify that.</p>
<p>Our platform helps you find, compare, and choose reliable software suited to your business requirements, making the hunt for software as easy as a breeze.</p>
<h2>Our Offerings</h2>
<ul>
<li>Software pricing comparisons, presented side-by-side.</li>
<li>Personalized product insights, grounded in data and strategy.</li>
<li>Free exploration of Industry Leaders across sectors.</li>
<li>Authentic reviews from software users.</li>
</ul>
      </div>
    </div>
  </section>
{% endblock %}
